.nav ul
{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 3rem;
    margin:auto;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    background-color: black;
}
.nav li
{
    list-style-type: none;
    display: inline;
    padding-left: 30px;
}

.isactive{
    text-decoration: none;
    color: gold;
}

.notactive{
    text-decoration: none;
    color: gray;
}
